.shop_closed {
    display: none !important;
}
.shop_closed_after {
    padding-bottom: rem-calc(50);
    display: block;
}
/* This hides the Woo pagination if the shop is closed */
.shop_closed_after + .woocommerce-pagination {
    display: none;
}